body {
    font-family: "helvetica";
}

.box {
    width: 200px;
    height: 200px;
    margin: 40px;
    float: left;
    text-align: center;
    border: #969696 solid thin;
    padding: 5px;
}

.red {
    background-color: #e9967a;
    color: #f0f8ff;
}

.blue {
    background-color: #add8e6;
    color: #f0f8ff;
}

.table{
    width: 70%;
}

.table td, th{
    padding: 5px;
}

.table-header{
    background-color: #00AFEF;
    font-weight: bold;
}

.table-row-odd{
    background-color: #f0f8ff;
}

.table-row-odd{
    background-color: #d3d3d3;
}
